/* h1
{
    color: red;
}
h2{
    color: blue;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
ul {
    display: flex;
    margin: 10;
    padding: 10;
    list-style: none;
    row-gap: 20px;
    }
th {
    background-color: #4CAF50;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}

bloc
{
    background-color: blanchedalmond;
}
.Edit
{
    color: red;
}

.add
{
    color: green;
}

.supp
{
    color: chocolate;
}


