{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

<h1>Liste des stagiaire</h1>

 
    {% for stagiaire in stagiaire %}

        <li>{{ stagiaire.prenom ~ ' ' ~  stagiaire.nom }} </li>
        
        
        
    {% endfor %} 
{% endblock %}
