{% extends 'base.html.twig' %}

{% block title %}Hello Session{% endblock %}

{% block body %}

<h1>Liste des Sessions</h1>

 afficher la liste des sessions 

 
    {% for session in sessions %}
        <li>{{ session.session  }}</li>
        
        
        {# {{dump(session)}}; #}
    {# {% endfor %} 

    {% for module in module %}
        
        <li>{{ module.module }}</li>
        
    {% endfor %}  #}


{% endblock %}
